In [3]:
import pandas as pd
import datetime

In [4]:
#set to see more columns
pd.set_option('display.max_colwidth', -1)

C:\Users\MIKOLA~1\AppData\Local\Temp/ipykernel_11392/1502773581.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [5]:
#read csv file
jeopardy = pd.read_csv('jeopardy.csv')

In [7]:
#jeopardy DataFrame before pandas manipulating
print(jeopardy.head())

   Show Number    Air Date      Round                         Category  Value  \
0  4680         2004-12-31  Jeopardy!  HISTORY                          $200
1  4680         2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2  4680         2004-12-31  Jeopardy!  EVERYBODY TALKS ABOUT IT...      $200
3  4680         2004-12-31  Jeopardy!  THE COMPANY LINE                 $200
4  4680         2004-12-31  Jeopardy!  EPITAPHS & TRIBUTES              $200

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams

In [8]:
#rename columns
jeopardy.rename(columns={
  ' Air Date': 'Air Date',
  ' Round': 'Round',
  ' Category': 'Category',
  ' Value': 'Value',
  ' Question': 'Question',
  ' Answer': 'Answer'
},inplace=True)

In [9]:
#function that filters the dataset for questions that contains all of the words in a list of words
def data_filter(data, words):
  filter = lambda x: all(word.lower() in x.lower() for word in words)
  return data.loc[data['Question'].apply(filter)]

In [16]:
#adding new column with a float value
jeopardy['Float Value'] = jeopardy['Value'].apply(lambda x: float(x.strip('$').replace(',','')) if x!= "None" else 0)

In [17]:
#filtering for words: "King" and "England"
filtered = data_filter(jeopardy, ["King", "England"])
print(filtered)

        Show Number    Air Date             Round               Category  \
4953    3003         1997-09-24  Double Jeopardy!  "PH"UN WORDS
6337    3517         1999-12-14  Double Jeopardy!  Y1K
9191    3907         2001-09-04  Double Jeopardy!  WON THE BATTLE
11710   2903         1997-03-26  Double Jeopardy!  BRITISH MONARCHS
13454   4726         2005-03-07  Jeopardy!         A NUMBER FROM 1 TO 10
...      ...                ...        ...                           ...
208295  4621         2004-10-11  Jeopardy!         THE VIKINGS
208742  4863         2005-11-02  Double Jeopardy!  BEFORE & AFTER
213870  5856         2010-02-15  Double Jeopardy!  URANUS
216021  1881         1992-11-09  Double Jeopardy!  HISTORIC NAMES
216789  5070         2006-09-29  Double Jeopardy!  ANCIENT HISTORY

         Value  \
4953    $200
6337    $800
9191    $800
11710   $600
13454   $1000
...       ...
208295  $600
208742  $3,000
213870  $1600
216021  $1000
216789  $1200

                                                                                                      Question  \
4953    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337    In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710   This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454   It's the number that followed the last king of England named William
...                                                                      ...
208295  In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742  Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870  In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021  His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789  This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric

                              Answer  Float Value
4953    Philately (stamp collecting)  200.0
6337    Ethelred                      800.0
9191    Henry V                       800.0
11710   James I                       600.0
13454   4                             1000.0
...    ..                                ...
208295  William the Conqueror         600.0
208742  William of Orange roughy      3000.0
213870  George III                    1600.0
216021  Edward VII                    1000.0
216789  Wessex                        1200.0

[152 rows x 8 columns]

In [20]:
#filtering for an average difficulty
print(filtered.groupby('Question')['Float Value'].mean())

Question
"Carolus Stuardus" by Andreas Gryphius is about this executed king of England                                                                                                                                                                                                                                                                                                              1200.0
"More butcher than king in England" is seen as this leader born in 1599, 33 years after Nostradamus died                                                                                                                                                                                                                                                                                   2000.0
(<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter                                                                                                                                                200.0
(<a href="http://www.j-archive.com/media/2005-05-30_DJ_26.jpg" target="_blank">Jimmy of the Clue Crew holds a block of cheese</a>.)  I'm in this Midwest state famous for making cheddar, which actually originated in a village in England                                                                                                                                                400.0
(<a href="http://www.j-archive.com/media/2010-07-26_DJ_10.jpg" target="_blank">Jimmy of the Clue Crew reports from in front of the Bayeux Tapestry.</a>)  The tapestry opens in 1064 with this childless king on England's throne; 11th century sources say the <a href="http://www.j-archive.com/media/2010-07-26_DJ_10.jpg" target="_blank">meeting</a> is about naming his successor    2000.0
                                                                                                                                                                                                                                                                                                                                                                                            ...
When England's Queen Anne died, this German became king because he was a great grandson of James I                                                                                                                                                                                                                                                                                         800.0
While in England in 1760, John Hancock attended the coronation of this king                                                                                                                                                                                                                                                                                                                800.0
William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year                                                                                                                                                                                                                                                                                       400.0
Winchester, the county seat of Hampshire, was the capital of this Western Anglo-Saxon kingdom of England                                                                                                                                                                                                                                                                                   200.0
this man and his son ruled England following the execution of King Charles I                                                                                                                                                                                                                                                                                                               1000.0
Name: Float Value, Length: 152, dtype: float64

In [21]:
#function that returns the count of the unique answers to all of the questions in a dataset
def unique_answers(data):
  return data.groupby('Answer').nunique()

In [22]:
print(unique_answers(jeopardy))

                              Show Number  Air Date  Round  Category  Value  \
Answer
 Hamlet                       1            1         1      1         1
 Les Miserables               1            1         1      1         1
 Nosferatu                    1            1         1      1         1
 She Loves You                1            1         1      1         1
 Sleepless in Seattle         1            1         1      1         1
...                          ..           ..        ..     ..        ..
étoufée                       2            2         2      2         2
études                        1            1         1      1         1
été                           1            1         1      1         1
über                          1            1         1      1         1
“one giant leap for mankind”  1            1         1      1         1

                              Question  Float Value
Answer
 Hamlet                       1         1
 Les Miserables               1         1
 Nosferatu                    1         1
 She Loves You                1         1
 Sleepless in Seattle         1         1
...                          ..        ..
étoufée                       2         2
études                        1         1
été                           1         1
über                          1         1
“one giant leap for mankind”  1         1

[88268 rows x 7 columns]

In [23]:
#adding new column year and decades
jeopardy['Year'] = pd.DatetimeIndex(jeopardy['Air Date']).year
jeopardy['Decades'] = jeopardy['Year'].apply(lambda x: '2000s' if x>=2000 else '90s')

In [25]:
#filtering for a word in question by decades
by_decades_filtered = data_filter(jeopardy,['Computer'])

In [26]:
#investinge how many questions from the 90s use the word "Computer" compared to questions from the 2000s
print(by_decades_filtered.groupby('Decades').Category.count())

Decades
2000s    327
90s      104
Name: Category, dtype: int64